# Hardhat files
cache
artifacts
typechain
typechain-types

# Tests
coverage
coverage.json

# Lib
node_modules

# IDE
.vscode
.DS_Store

# Package manager
package-error.log

# Ignore all .env files except .env.example
.env*
!.env.example